{
  "extends": "standard",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "semi": [2, "always"],
    "comma-dangle": [2, "always-multiline"],
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }]
  }
}
